<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="DoAn" connectionString="Data Source=.\SqlExpress;Initial Catalog=QL_KiTucXa;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyKiTucXa.Properties.Settings.QL_KiTucXaConnectionString"
      connectionString="Data Source=.\SQLExpress;Initial Catalog=QL_KiTucXa;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
